#app {
    display: grid;
    grid-template: 
    "header main main" 0px
    "header main main" 30vh
    "header aside footer" 30vh;
    height: 100vh;
    gap: 40px;
    padding: 40px;
    box-sizing: border-box;
}

#app header {
    grid-area: header;
}

#app main {
    grid-area: main;
}

#app aside{
    grid-area: aside;
}

#app footer{
    grid-area: footer;
}

#app > * {
    border: solid greenyellow;
    background-color: green;
    color: white;
}

body {
    background-color: black;
}